.card {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.card-content {
  /* display: flex; */
  /* flex-direction: column; */
  overflow: hidden;
  position: relative;
}

.imageWrapper {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.imageWrapper img {
  background-size: contain;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease 0s;
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .imageWrapper img:hover {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  cursor: pointer;
} */

.card-content a {
  text-decoration: none;
  cursor: pointer;
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  inset-inline-start: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.imageWrapper:hover .bg,
.bg:hover {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.bg .left-button {
  padding: 14px;
  position: absolute;
  padding-inline-start: 16px;
  background-color: var(--light-gray-2);
  color: white;
  border: 2px solid transparent;
  box-shadow: none;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.bg .left-button:hover {
  background-color: var(--light-gray-1);
  transform: scale(1.2);
}

.bg .right-button {
  color: white;
  border: 0px;
  box-shadow: none;
  backdrop-filter: blur(10px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  inset-inline-end: 0px;
  white-space: nowrap;
  position: absolute;
  background-color: transparent;
  font-weight: bold;
}

@media (pointer: fine) {
  .bg .left-button {
    font-size: 16px;
    line-height: 20px;
  }
}

.bg .right-button {
  position: absolute;
  right: 10px;
}

.bg .right-button:hover {
  color: var(--hover-blue);
}

@media (min-width: 0) {
  .card {
    -webkit-padding-end: 16px;
    padding-inline-end: 16px;
    -ms-flex: 0 0 calc((100% - 16px + 4px) / 2);
    flex: 0 0 calc((100% - 16px + 4px) / 2);
    width: calc((100% - 16px + 4px) / 2);
    max-width: calc((100% - 16px + 4px) / 2);
  }
}

@media (min-width: 360px) {
  .card {
    -webkit-padding-end: 16px;
    padding-inline-end: 16px;
    -ms-flex: 0 0 calc((100% - 16px + 4px) / 2);
    flex: 0 0 calc((100% - 16px + 4px) / 2);
    width: calc((100% - 16px + 4px) / 2);
    max-width: calc((100% - 16px + 4px) / 2);
  }
}

@media (min-width: 480px) {
  .card {
    -webkit-padding-end: 24px;
    padding-inline-end: 24px;
    -ms-flex: 0 0 calc((100% - 24px + 12px) / 2);
    flex: 0 0 calc((100% - 24px + 12px) / 2);
    width: calc((100% - 24px + 12px) / 2);
    max-width: calc((100% - 24px + 12px) / 2);
  }
}

@media (min-width: 640px) {
  .card {
    -webkit-padding-end: 24px;
    padding-inline-end: 24px;
    -ms-flex: 0 0 calc((100% - 24px + 12px) / 3);
    flex: 0 0 calc((100% - 24px + 12px) / 3);
    width: calc((100% - 24px + 12px) / 3);
    max-width: calc((100% - 24px + 12px) / 3);
  }
}

@media (min-width: 840px) {
  .card {
    -webkit-padding-end: 24px;
    padding-inline-end: 24px;
    -ms-flex: 0 0 calc((100% - 24px + 12px) / 5);
    flex: 0 0 calc((100% - 24px + 12px) / 5);
    width: calc((100% - 24px + 12px) / 5);
    max-width: calc((100% - 24px + 12px) / 5);
  }
}

@media (min-width: 1024px) {
  .card {
    -webkit-padding-end: 24px;
    padding-inline-end: 24px;
    -ms-flex: 0 0 calc((100% - 24px + 12px) / 5);
    flex: 0 0 calc((100% - 24px + 12px) / 5);
    width: calc((100% - 24px + 12px) / 5);
    max-width: calc((100% - 24px + 12px) / 5);
  }
}

@media (min-width: 1280px) {
  .card {
    -webkit-padding-end: 32px;
    padding-inline-end: 32px;
    -ms-flex: 0 0 calc((100% - 32px + 20px) / 6);
    flex: 0 0 calc((100% - 32px + 20px) / 6);
    width: calc((100% - 32px + 20px) / 6);
    max-width: calc((100% - 32px + 20px) / 6);
  }
}

@media (min-width: 1440px) {
  .card {
    -webkit-padding-end: 32px;
    padding-inline-end: 32px;
    -ms-flex: 0 0 calc((100% - 32px + 20px) / 7);
    flex: 0 0 calc((100% - 32px + 20px) / 7);
    width: calc((100% - 32px + 20px) / 7);
    max-width: calc((100% - 32px + 20px) / 7);
  }
}

.tag {
  line-height: 26px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  contain: content;
  overflow: hidden;
  margin-top: 8px;
}

.taglink {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-inline-end: 10px;
  text-decoration: none;
}
