.bg-container {
  display: block;
  position: relative;
  padding: 24px 0px;
  width: 100%;
  visibility: inherit;
}

.banner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.svg-banner {
  cursor: pointer;
  height: 100%;
}

@media (min-width: 0) {
  .bg-container {
    padding-inline: calc(20px);
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .svg-banner {
    min-width: calc(66.6667% - 6.66667px);
  }
}

@media (min-width: 480px) {
  .bg-container {
    padding-inline: calc(36px);
  }
  .svg-banner {
    min-width: calc(100%);
  }
}

@media (min-width: 640px) {
  .bg-container {
    padding-inline: calc(36px);
  }
}

@media (min-width: 840px) {
  .bg-container {
    padding-inline: calc(36px);
  }
}

@media (min-width: 1024px) {
  .bg-container {
    padding-inline: calc(36px);
  }
  .svg-banner {
    min-width: calc(90% - 4px);
  }
}

@media (min-width: 1280px) {
  .bg-container {
    padding-inline: calc(52px);
  }
  .svg-banner {
    min-width: calc(66.6667% - 6.66667px);
  }
}

@media (min-width: 1440px) {
  .bg-container {
    padding-inline: calc(52px);
  }
  
}
