/* Container for the entire book page */
.book-page {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.book-bio {
  display: flex;
  flex-direction: column;

  width: 100%;
}

/* Grid layout for the book page */
.book-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
}

/* Left section of the book grid */
.book-left {
  display: flex;
  gap: 2rem;
  position: relative;
  padding: 1.5rem 0;
}

/* Right section of the book grid */
.book-right {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
}

/* Container for the book image */
.book-image-container {
  display: flex;
}

/* Styling for the book image */
.book-image-container img {
  border-radius: 0.5rem;
  object-fit: cover;
  loading: lazy;
}

/* Container for book information */
.book-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Styling for the book title */
.book-info h1 {
  font-size: 2rem;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.25;
  margin: 0;
}

/* Styling for muted text in book info */
.book-info p.muted-foreground {
  color: #6b7280;
  margin: 0;
}

/* Styling for the book author name */
.book-author-name {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
  color: var(--blue-text);
  padding-bottom: 1rem;
}

/* Container for the book description */
.book-description {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.75;
  color: var(--light-gray-3);
  text-wrap: pretty;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: max-height 0.5s ease;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.expanded {
  -webkit-line-clamp: unset;
  line-clamp: unset;
}

.collapsed {
  -webkit-line-clamp: 5;
  line-clamp: 5;
  margin-bottom: 0.5rem;
}

/* Container for book edition details */
.book-edition-details {
  /* padding: 1.5rem; */
  /* background-color: rgb(38 38 38 /1); */
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  max-width: 50%;
}

/* Header styling within book edition details, reviews, and notes */
.book-edition-details h2,
.reviews h2,
.notes h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
}

/* Container for book genre tags */
.book-genre-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* Individual genre tag styling */
.book-genre-tag {
  padding: 4px 8px;
  font-size: 0.75rem;
  background-color: var(--light-gray-2);
  border-radius: 9999px;
  transition: all 0.15s ease 0s;
  align-self: flex-start;
}

.book-genre-tag:hover {
  background-color: var(--light-gray-3);
}

/* Container for action buttons */
.book-btn-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.btn-actions-up {
  display: flex;
  gap: 0.5rem;
}

/* Container for modal elements */


/* Container for notes section */
.notes {
  /* padding: 1.5rem; */
  /* background-color: rgb(38 38 38 /1); */
  border-radius: 0.5rem;
  margin-top: 2rem;
}

/* Styling for note actions */
.note-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Styling for note textarea */
.note-actions textarea {
  box-shadow: 0 0 #0000;
  color: var(--white-text);
  background-color: rgb(26 26 26 /1);
  border: 1px solid var(--blue-text);
  display: flex;
  width: 100%;
  border-radius: calc(0.5rem - 2px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  scroll-padding-block: 1rem;
}

.note-actions textarea:focus {
  --tw-ring-offset-width: 2px;
  --tw-ring-color: var(--blue-text);
  --tw-ring-offset-shadow: 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-color);
  outline: none;
  box-shadow: var(--tw-ring-offset-shadow);
}

/* Base text styling */
.text-base {
  font-size: 1rem;
  line-height: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--light-gray-3);
}

.text-base li strong {
  color: var(--blue-text);
}

.notecard-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 1.5rem;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
  .book-grid {
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 824px) {
  .book-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .book-btn-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: center;
  }

  .book-btn {
    font-size: 0.8rem;
  }

  .book-right {
    justify-content: center;
    align-items: center;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .book-edition-details {
    max-width: 100%;
  }

  .book-info {
    align-self: center;
    align-content: center;
    justify-content: center;
  }
}
@media screen and (max-width: 568px) {
  .book-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .book-btn-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: center;
  }

  .book-btn {
    font-size: 0.8rem;
  }

  .book-right {
    justify-content: center;
    align-items: center;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .book-edition-details {
    max-width: 100%;
  }

  .book-info {
    align-self: center;
    align-content: center;
    justify-content: center;
  }
}

.show-hide-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .notecard-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (prefers-contrast: high) {
  .book-info,
  .book-description,
  .notes {
    color: #000;
    background-color: #fff;
  }

  .book-btn-1,
  .book-btn-2,
  .book-btn-3 {
    border: 0.125px solid #000;
  }
}

.rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}
