.content-scroll {
  overflow: auto;
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  min-height: 1px;
  scrollbar-width: none;
  
}

@media (pointer: fine) and (min-width: 1024px) {
  .content-scroll {
    width: calc(100% - 12px);
  }
}

@media (pointer: fine) and (min-width: 840px) {
  .content-scroll {
    width: calc(100% - 12px);
  }
}

@media (pointer: fine) and (min-width: 640px) {
  .content-scroll {
    width: calc(100% - 12px);
  }
}

@media (pointer: fine) and (min-width: 360px) {
  .content-scroll {
    width: calc(100% - 4px);
  }
}

@media (pointer: fine) and (min-width: 0) {
  .content-scroll {
    width: calc(100% - 4px);
  }
}

@media (min-width: 1024px) {
  .content-scroll {
    padding-inline: 36px;
  }
}

@media (min-width: 840px) {
  .content-scroll {
    padding-inline: 36px;
  }
}

@media (min-width: 640px) {
  .content-scroll {
    padding-inline: 36px;
  }
}

@media (min-width: 480px) {
  .content-scroll {
    padding-inline: 36px;
  }
}

@media (min-width: 360px) {
  .content-scroll {
    padding-inline: 36px;
  }
}

@media (min-width: 0) {
  .content-scroll {
    padding-inline: 20px;
  }
}

.wrapper {
  display: flex;
  height: 100%;
}
