.free-thrills h2 {
  margin: 0;
  margin-top: 2rem;
}

.free-thrills h1 {
  margin: 0;
}

.free-thrills {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.25rem;
}

.blog-post {
  margin-bottom: 40px;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}

.blog-link {
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.blog-link:hover {
  color: #00cccc;
}

.blog-post:last-child {
  border-bottom: none;
}

.fact-box {
  background-color: #111;
  border-left: 5px solid var(--blue-text);
  padding: 15px;
  margin: 1.25rem 0;
}

.pop-culture {
  font-style: italic;
  color: #ccc;
}

.blog-img {
  max-width: 100%;
  height: auto;
  margin: 1.25rem 0;
}

.cta-button {
  display: inline-block;
  background-color: var(--blue-text);
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.cta-button:hover {
  background-color: #005f5f;
}
