.gridItem {
  box-sizing: border-box;
  position: relative;
  contain: content;
  padding: 0.5rem 0; /* 8px / 16px per rem */
  padding-inline-end: 0.25rem; /* 4px / 16px per rem */
  display: inline-block;
}

/* Fluid Width Calculations 
  These define how wide the grid items are on different screen sizes 
*/
@media (min-width: 360px) {
  .gridItem {
    padding-inline-end: 1rem;
    flex: 0 0 calc(100% - 0.75rem);
    width: calc(100% - 0.75rem);
    max-width: calc(100% - 0.75rem);
  }
}

@media (min-width: 480px) {
  .gridItem {
    padding-inline-end: 1.5rem;
    flex: 0 0 calc(100% - 0.75rem);
    width: calc(100% - 0.75rem);
    max-width: calc(100% - 0.75rem);
  }
}

@media (min-width: 640px) {
  .gridItem {
    padding-inline-end: 1.5rem;
    flex: 0 0 calc(50% - 0.375rem);
    width: calc(50% - 0.375rem);
    max-width: calc(50% - 0.375rem);
  }
}

@media (min-width: 840px) {
  .gridItem {
    padding-inline-end: 1.5rem;
    flex: 0 0 calc(33.3333% - 0.25rem);
    width: calc(33.3333% - 0.25rem);
    max-width: calc(33.3333% - 0.25rem);
  }
}

@media (min-width: 1024px) {
  .gridItem {
    padding-inline-end: 1.5rem;
    flex: 0 0 calc(33.3333% - 0.25rem);
    width: calc(33.3333% - 0.25rem);
    max-width: calc(33.3333% - 0.25rem);
  }
}

@media (min-width: 1280px) {
  .gridItem {
    padding-inline-end: 2rem;
    flex: 0 0 calc(33.3333% - 0.25rem);
    width: calc(33.3333% - 0.25rem);
    max-width: calc(33.3333% - 0.25rem);
  }
}

@media (min-width: 1440px) {
  .gridItem {
    padding-inline-end: 2rem;
    flex: 0 0 calc(33.3333% - 0.25rem);
    width: calc(33.3333% - 0.25rem);
    max-width: calc(33.3333% - 0.25rem);
  }
}
