.hotbooks {
  margin-top: 1.5625rem; /* 25px / 16 */
  box-sizing: content-box !important;
  overflow: hidden !important;
  height: 100% !important;
  position: relative;
  direction: ltr;
  will-change: transform;
  overflow: auto;
  position: relative;
}

.hotbooks {
  padding-inline-start: 1.25rem; /* 20px / 16 */
  padding-inline-end: 1.25rem; /* 20px / 16 */
}
.hotbooks-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Adjust the gap between items as needed */
}

.hotbooks .card {
  flex: 1 1 calc(33.333% - 1rem); /* Adjust the percentage to control the number of items per row */
  box-sizing: border-box;
}

.hotbooks .card {
  display: inline-block;
}

.hotbooks-header-text {
  display: flex;
  margin: 0;
  margin-bottom: 1.375rem; /* 22px / 16 */
  font-size: 1.25rem; /* 20px / 16 */
  text-transform: capitalize;
}

@media only screen and (min-width: 480px) {
  .hotbooks {
    padding-inline-start: 2.25rem; /* 36px / 16 */
    padding-inline-end: 2.25rem; /* 36px / 16 */
  }
}

@media only screen and (min-width: 1289px) {
  .hotbooks {
    padding-inline-start: 3.25rem; /* 52px / 16 */
    padding-inline-end: 3.25rem; /* 52px / 16 */
  }
}
