.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid transparent;
  border-right-color: #25b09b;
  animation: l2 1s infinite linear;
  position: fixed;

  top: 50%;
  left: 50%;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
