/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
} */

.modal {
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  position: fixed;
  z-index: 50;
  right: 5rem;
  top: 45%;
  right: 55%;
  transform: translate(50%, -50%);
  border-radius: 1rem;
  gap: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 1.5rem;
  max-height: 100%;
  margin-left: auto;
  max-width: 100%;
  margin-right: auto;
  flex-basis: auto;
  flex-shrink: 0;
  /* background-color: #222; */
  background-color: white;
  width: 20rem;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
}

.modal h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-left: 1.5rem;
  color: black;
}

@media screen and (max-width: 824px) {
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
