/* Navigation Styles */
.nav {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1.875rem); /* 30px / 16px per rem */
  color: #fff;
  width: 100%;
  height: 4.5rem; /* 72px / 16px per rem */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15); /* 1px / 16px per rem */
  flex: 1 1 0%;
  margin: 0 auto;
}

/* Navigation List Styles */
.nav-list {
  -webkit-backdrop-filter: blur(1.875rem); /* 30px / 16px per rem */
  background-color: inherit;
  backdrop-filter: inherit;
  display: flex;
  color: #fff;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* justify-content: space-around; */
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  padding-left: 0;
  padding-right: 0; /* 15px / 16px per rem */
  position: relative;
  margin: 0 auto;
}

/* Logo Styles */
#logo {
  display: inline-flex;
  /* width: 8.75rem; /* 140px / 16px per rem */
  /* height: 5rem; 80px / 16px per rem */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-inline-end: 2.5rem; /* 40px / 16px per rem */
}

/* Small Logo Styles */
#logo-small {
  display: none;
  width: 6.25rem; /* 100px / 16px per rem */
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 0.9375rem; /* 15px / 16px per rem */
}

/* Navigation Link Styles */
.nav-link,
.nav-link-active {
  flex: 0 0 auto;
  display: inline-flex;
  border-color: #0000;
  border-radius: 18.75rem; /* 300px / 16px per rem */
  border-width: 0.1rem; /* 1.6px / 16px per rem */
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
  line-height: 1.25rem; /* 20px / 16px per rem */
  padding: 0.625rem 1.5rem; /* 10px and 24px / 16px per rem */
  gap: 0.625rem; /* 10px / 16px per rem */
  margin-inline-end: 0.5rem; /* 8px / 16px per rem */
  padding-inline-start: 1rem; /* 16px / 16px per rem */
}

/* Navigation Link Hover Styles */
.nav-link:hover,
.nav-link-active {
  color: var(--hover-blue);
}

/* Navigation Text Styles */
.nav-text {
  padding-top: 0.3125rem; /* 5px / 16px per rem */
}

/* Sign-in Button Styles */
.sign-in {
  background-color: #25d1da;
  display: flex;
  border-color: #0000;
  border-radius: 30%;
  border-style: solid;
  border-width: 0.1rem; /* 1.6px / 16px per rem */
  justify-content: center;
  align-items: center;
  font-size: 0.9rem; /* 90% / 16px per rem */
  width: 3.4375rem; /* 55px / 16px per rem */
  height: 1.4375rem; /* 23px / 16px per rem */
  flex-shrink: 0;
  text-align: center;
  line-height: 1.25rem; /* 20px / 16px per rem */
  text-transform: capitalize;
  margin-right: 0.3125rem; /* 0.5% of 16px / 16px per rem */
  cursor: pointer;
  padding: 0;
}

.sign-in-wrapper {
  margin: 0 0 0 1rem; /* 16px / 16px per rem */
  padding: 0 0.75rem 0 0; /* 12px / 16px per rem */
}

/* Sign-in Button Hover Styles */
.sign-in:hover {
  transform: scale(1.05);
  background-color: var(--hover-blue);
}

/* Sign-out Button Styles */

.sign-out-wrapper {
  margin: 0 0 0 1rem; /* 16px / 16px per rem */
  padding: 0.5 0.75rem 0 0; /* 12px / 16px per rem */
}

/* Sign-out Button Hover Styles */

.profile {
  padding: 0.2rem;
  background-color: rgb(37, 209, 218);
  border-radius: 50%;
  color: black;
  border: 0.125rem solid transparent;
  box-shadow: none;
  user-select: none;
  display: none;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;

  white-space: normal;
  cursor: pointer;
}

.p-signout {
  background-color: #e3d026;
}

/* Search Container Styles */
.search-container {
  width: 50%;
  height: 100%;
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 0.0625rem; /* 1% of 16px / 16px per rem */
  flex-shrink: 1;
  cursor: default;
  position: relative;
  margin-inline-end: 2rem;
}

/* Search Container and Bar Styles */
.search-form {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  justify-content: end;
  position: relative;
}

/* Search Bar Styles */
.search-bar {
  width: 16rem; /* 256px / 16px per rem */
  border-radius: 3.125rem; /* 50px / 16px per rem */
  margin: 1.1rem 0; /* 17.6px / 16px per rem */
  cursor: pointer;
  height: 2.25rem; /* 36px / 16px per rem */
  border: none;
  padding: 0 3.75rem 0 1.5rem; /* 60px and 24px / 16px per rem */
  transition: all 100ms ease-in-out;
}

/* Search Bar Focus Styles */
.search-form:focus-within > .search-bar {
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: none;
  margin: 0;
  cursor: text;
  caret-color: var(--hover-blue);
  color: #fff;
  font-size: 0.875rem; /* 14px / 16px per rem */
  border: none;
  transition: all 100ms ease-in-out;
  display: block;
  padding-top: 0;
  padding-inline-end: 7.5rem; /* 120px / 16px per rem */
  padding-bottom: 0;
  padding-inline-start: 1.5rem; /* 24px / 16px per rem */
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
  margin-inline-end: 0;
}

/* Search Bar Cancel Button Styles */
.search-bar::-webkit-search-cancel-button {
  display: none;
}

/* Cancel Search Button Styles */
.cancel-search {
  display: none;
}

/* Cancel Search Button Focus Styles */
.search-form:focus-within > .cancel-search {
  display: inline-flex;
  align-items: center;
  border-radius: 25rem; /* 400px / 16px per rem */
  border: 0.1rem solid #0000; /* 1.6px / 16px per rem */
  justify-content: center;
  height: 1.25rem; /* 20px / 16px per rem */
  width: 1.25rem; /* 20px / 16px per rem */
  position: absolute;
  right: 3.75rem; /* 60px / 16px per rem */
  top: 1.5625rem; /* 25px / 16px per rem */
  color: white;
  background-color: black;
  cursor: pointer;
}

/* Cancel Search Button Hover Styles */
.search-form:focus-within > .cancel-search:hover {
  color: var(--hover-blue);
}

/* Cancel Search Button Disable Styles */
.search-form:focus-within > .cancel-search-disable {
  display: none;
}

/* Input Styles */
input {
  overflow: visible;
}

/* Search Bar Placeholder Styles */
.search-form:focus-within > .search-bar::placeholder {
  font-size: 0.875rem; /* 14px / 16px per rem */
  color: #ffffffa3;
}

.search-bar::placeholder {
  font-size: 0.875rem; /* 14px / 16px per rem */
  color: #00000093;
}

/* Search Icon Button Styles */
.search-icon-button {
  display: inline;
  background-color: #fff;
  border: none;
  position: absolute;
  width: 2.25rem; /* 36px / 16px per rem */
  height: 2.1875rem; /* 35px / 16px per rem */
  top: 1.125rem; /* 18px / 16px per rem */
  right: 0.75rem; /* 12px / 16px per rem */
  padding-top: 0.3125rem; /* 5px / 16px per rem */
  cursor: pointer;
  border-radius: 18.75rem;
}

/* Search Icon Button Focus Styles */
.search-form:focus-within > .search-icon-button {
  background-color: #ffffff0d;
  border: 0.1rem solid #0000; /* 1.6px / 16px per rem */
  border-radius: 18.75rem; /* 300px / 16px per rem */
  cursor: pointer;
}

/* Search Icon Button Active Styles */
.search-form:focus-within > .search-icon-button:active {
  border: 0.1875rem solid #0000; /* 3px / 16px per rem */
  transform: scale(0.9);
}

.search-icon-small {
  display: none;
}

.show-search-container {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 62.5; /* 1000 / 16 */
}

.search-form-mini {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-mini {
  height: 100%;
  width: 70%;

  border-radius: 0;
  border: none;
  margin: 0;
  cursor: text;
  caret-color: var(--hover-blue);
  color: #fff;
  font-size: 0.875rem; /* 14px / 16px per rem */
  border: none;
  transition: all 100ms ease-in-out;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  padding-inline-start: 1.5rem; /* 24px / 16px per rem */
  background-color: inherit;

  outline: none;
  margin-inline-end: 0;
}

.search-bar-mini::placeholder {
  font-size: 0.875rem; /* 14px / 16px per rem */
  color: #ffffffa3;
}

.search-icon-button-mini {
  display: flex;
  background-color: transparent;
  z-index: 62.5; /* 1000 / 16 */
  font-weight: 700;
  font-size: 0.625rem; /* 10px / 16px per rem */
  border: none;
  color: #fff;
  width: 3.75rem; /* 60px / 16px per rem */
  height: 1.9375rem; /* 31px / 16px per rem */
  text-transform: uppercase;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  bottom: 2.1875rem; /* 35px / 16px per rem */
  word-wrap: break-word;
  text-size-adjust: none;
  bottom: 1.15625rem; /* 18.5px / 16px per rem */
}

.search-bar-mini::-webkit-search-cancel-button {
  display: none;
}

.cancel-search-mini {
  display: inline-flex;
  align-items: center;
  border-radius: 25rem; /* 400px / 16px per rem */
  border: 0.1rem solid #0000; /* 1.6px / 16px per rem */
  justify-content: center;
  height: 1.25rem; /* 20px / 16px per rem */
  width: 1.25rem; /* 20px / 16px per rem */
  color: white;
  background-color: black;
  cursor: pointer;
}

/* Media Queries for Small Screens */
@media only screen and (min-width: 0) {
  .nav-list {
    padding-inline-end: 0.3125rem; /* 5px / 16px per rem */
    justify-content: space-between;
    padding-inline-start: 0.125rem; /* 2px / 16px per rem */
  }
  .hide-nav-list {
    display: none;
  }
  .nav-text {
    display: none;
  }
  #logo-small {
    display: inline-flex;
    margin-inline-end: 0.75rem; /* 12% of 16px / 16px per rem */
  }
  #logo {
    display: none;
  }

  #home-icon {
    display: none;
  }

  .nav-link,
  .nav-link-active {
    padding: 0.625rem;
    margin-inline-end: 0;
  }

  .search-container {
    display: none;
  }

  .hide-search-container {
    display: none;
  }

  .show-search-container {
    display: flex;
  }

  .sign-out-wrapper,
  .sign-in-wrapper {
    display: none;
    padding: 0;
    margin: 0;
  }
  .profile {
    display: inline-flex;
    flex-shrink: 0;
  }

  .search-icon-small {
    display: inline-flex;
    color: white;
    background-color: inherit;
    border: none;
    width: 2.75rem; /* 44px / 16px per rem */
    height: 3.05rem; /* 48.8px / 16px per rem */
    justify-content: center;
    align-items: center;
    padding-bottom: 0.3125rem; /* 5px / 16px per rem */
  }

  .search-icon-small:hover {
    color: var(--hover-blue);
  }
}

/* Media Queries for Medium Screens */
@media only screen and (min-width: 480px) /* 480px / 16px per rem */ {
  .nav-list {
    padding-inline-start: 1.5rem; /* 24px / 16px per rem */
    justify-content: space-around;
  }
  .nav-text {
    display: none;
  }
  .nav-link,
  .nav-link-active {
    margin-inline-end: 0;
  }
  #logo-small {
    display: inline-flex;
    margin-inline-end: 1.25rem; /* 20% of 16px / 16px per rem */
  }
  .search-container {
    display: none;
  }
  .profile {
    display: none;
  }
  .sign-in-wrapper,
  .sign-out-wrapper {
    display: inline-flex;
  }
}

/* Media Queries for Large Screens */
@media only screen and (min-width: 641px) /* 641px / 16px per rem */ {
  .nav-list {
    padding-inline-end: 0;
    padding-inline-start: 0; /* 16px / 16px per rem */
  }
  .nav-text {
    display: none;
  }
  #logo {
    display: none;
  }
  #logo-small {
    display: flex;
    margin-inline-end: 0;
  }
  #home-icon {
    display: flex;
  }
  .search-container {
    display: flex;
  }
  .hide-search-container {
    display: none;
  }
  .sign-in-wrapper,
  .sign-out-wrapper {
    display: inline;
    margin-inline-end: 0.75rem; /* 12px / 16px per rem */
  }
  .sign-in {
    display: flex;
  }

  .search-icon-small {
    display: none;
  }
}

/* Media Queries for Extra Large Screens */
@media only screen and (min-width: 840px) /* 840px / 16px per rem */ {
  .nav-list {
    padding-inline-end: 0;
  }
  .nav-text {
    display: none;
  }
  #logo {
    display: inline-flex;
    margin-inline-end: 0.9375rem; /* 15px / 16px per rem */
  }
  #logo-small {
    display: none;
  }
  .search-container {
    display: none;
  }
  .search-container {
    display: flex;
    margin-inline-start: 1.25rem; /* 20% of 16px / 16px per rem */
  }
  #home-icon {
    display: inline-flex;
  }
}

/* Media Queries for Extra Extra Large Screens */
@media only screen and (min-width: 1280px) /* 1280px / 16px per rem */ {
  .nav-list {
    padding-inline-end: 0;
  }
  .nav-text {
    display: block;
  }
  #logo {
    display: flex;
  }
  #logo-small {
    display: none;
  }
  .search-container {
    display: flex;
  }
}
