/* Navigation Styles */
.nav {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(30px);
  color: #fff;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  max-width: 1600px;
  min-width: 320px;
  flex: 1 1 0%;
}

/* Navigation List Styles */
.nav-list {
  --webkit-backdrop-filter: blur(30px);
  background-color: inherit;
  backdrop-filter: inherit;
  display: flex;
  color: #fff;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* justify-content: space-around; */
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  padding-left: 0px;
  padding-right: 15px;
  position: relative;
}

/* Logo Styles */
#logo {
  display: inline-flex;
  width: 140px;
  height: 80px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-inline-end: 40px;
}

/* Small Logo Styles */
#logo-small {
  display: none;
  width: 100px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 15px;
}

/* Navigation Link Styles */
.nav-link {
  flex: 0 0 auto;
  display: inline-flex;
  border-color: #0000;
  border-radius: 300px;
  border-width: 1.6px;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
  line-height: 20px;
  padding: 10px 24px;
  gap: 10px;
  margin-inline-end: 8px;
  padding-inline-start: 16px;
}

/* Navigation Link Hover Styles */
.nav-link:hover {
  color: var(--hover-blue);
}

/* Navigation Text Styles */
.nav-text {
  padding-top: 5px;
}

/* Sign-in Button Styles */
.sign-in {
  background-color: #25d1da;
  display: flex;
  border-color: #0000;
  border-radius: 30%;
  border-style: solid;
  border-width: 1.6px;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  width: 55px;
  height: 23px;
  flex-shrink: 0;
  text-align: center;
  line-height: 20px;
  text-transform: capitalize;
  margin-right: 0.5%;
  cursor: pointer;
  padding: 0px 0px;
}

.sign-in-wrapper {
  margin: 0px 0px 0px 16px;
  padding: 0px 12px 0px 0px;
}

/* Sign-in Button Hover Styles */
.sign-in:hover {
  transform: scale(1.05);
  background-color: var(--hover-blue);
}

/* Profile Button Styles */
.profile {
  padding: 8px;
  background-color: rgb(37, 209, 218);
  border-radius: 50%;
  color: black;
  border: 2px solid transparent;
  box-shadow: none;
  user-select: none;
  display: none;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  white-space: normal;
  cursor: pointer;
}

/* Search Container Styles */
.search-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
  flex-shrink: 1;
  cursor: default;
}

/* Search Container and Bar Styles */
.search-form {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  justify-content: end;
  position: relative;
}

/* Search Bar Styles */
.search-bar {
  width: 256px;
  border-radius: 50px;
  margin: 17.6px 0px;
  cursor: pointer;
  height: 36px;
  border: none;
  padding: 0 60px 0 24px;
  transition: all 100ms ease-in-out;
}

/* Search Bar Focus Styles */
.search-form:focus-within > .search-bar {
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: none;
  margin: 0;
  cursor: text;
  caret-color: var(--hover-blue);
  color: #fff;
  font-size: 14px;
  border: none;
  transition: all 100ms ease-in-out;
  display: block;
  padding-top: 0px;
  padding-inline-end: 120px;
  padding-bottom: 0px;
  padding-inline-start: 24px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
  margin-inline-end: 0;
}

/* Search Bar Cancel Button Styles */
.search-bar::-webkit-search-cancel-button {
  display: none;
}

/* Cancel Search Button Styles */
.cancel-search {
  display: none;
}

/* Cancel Search Button Focus Styles */
.search-form:focus-within > .cancel-search {
  display: inline-flex;
  align-items: center;
  border-radius: 400px;
  border: 1.6px solid #0000;
  justify-content: center;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 60px;
  top: 25px;
  color: white;
  background-color: black;
  cursor: pointer;
}

/* Cancel Search Button Hover Styles */
.search-form:focus-within > .cancel-search:hover {
  color: var(--hover-blue);
}

/* Cancel Search Button Disable Styles */
.search-form:focus-within > .cancel-search-disable {
  display: none;
}

/* Input Styles */
input {
  overflow: visible;
}

/* Search Bar Placeholder Styles */
.search-form:focus-within > .search-bar::placeholder {
  font-size: 14px;
  color: #ffffffa3;
}

.search-bar::placeholder {
  font-size: 14px;
  color: #00000093;
}

/* Search Icon Button Styles */
.search-icon-button {
  display: inline;
  background-color: #fff;
  border: none;
  position: absolute;
  width: 36px;
  height: 35px;
  top: 18px;
  right: 12px;
  padding-top: 5px;
  cursor: pointer;
}

/* Search Icon Button Focus Styles */
.search-form:focus-within > .search-icon-button {
  background-color: #ffffff0d;
  border: 1.6px solid #0000;
  border-radius: 300px;
  cursor: pointer;
}

/* Search Icon Button Active Styles */
.search-form:focus-within > .search-icon-button:active {
  border: 3px solid #0000;
  transform: scale(0.9);
}

.search-icon-small {
  display: none;
}

.show-search-container {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 1000;
}

.search-form-mini {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-mini {
  height: 100%;
  width: 70%;

  border-radius: 0;
  border: none;
  margin: 0;
  cursor: text;
  caret-color: var(--hover-blue);
  color: #fff;
  font-size: 14px;
  border: none;
  transition: all 100ms ease-in-out;
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-inline-start: 24px;
  border-radius: 0;
  background-color: inherit;

  outline: none;
  margin-inline-end: 0;
}

.search-bar-mini::placeholder {
  font-size: 14px;
  color: #ffffffa3;
}

.search-icon-button-mini {
  display: flex;
  background-color: transparent;
  z-index: 1000;
  font-weight: 700;
  font-size: 10px;
  border: none;
  color: #fff;
  width: 60px;
  height: 31px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  bottom: 35px;
  word-wrap: break-word;
  text-size-adjust: none;
  bottom: 18.5px;
}

.search-bar-mini::-webkit-search-cancel-button {
  display: none;
}

.cancel-search-mini {
  display: inline-flex;
  align-items: center;
  border-radius: 400px;
  border: 1.6px solid #0000;
  justify-content: center;
  height: 20px;
  width: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
}

/* Media Queries for Small Screens */
@media only screen and (min-width: 0) {
  .nav-list {
    padding-inline-end: 0;
    justify-content: space-between;
    padding-inline-start: 5px;
  }
  .hide-nav-list {
    display: none;
  }
  .nav-text {
    display: none;
  }
  #logo-small {
    display: inline-flex;
    margin-inline-end: 12%;
  }
  #logo {
    display: none;
  }

  #home-icon {
    display: none;
  }

  .nav-link {
    padding: 10px;
    margin-inline-end: 0;
  }

  .search-container {
    display: none;
  }

  .hide-search-container {
    display: none;
  }

  .show-search-container {
    display: flex;
  }

  .sign-in,
  .sign-in-wrapper {
    display: none;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .profile {
    display: inline-flex;
    flex-shrink: 0;
  }

  .search-icon-small {
    display: inline-flex;
    color: white;
    background-color: inherit;
    border: none;
    width: 44px;
    height: 48.8px;
    justify-content: center;
    align-items: center;
  }

  .search-icon-small:hover {
    color: var(--hover-blue);
  }
}

/* Media Queries for Medium Screens */
@media only screen and (min-width: 480px) {
  .nav-list {
    padding-inline-start: 24px;
    justify-content: space-around;
  }
  .nav-text {
    display: none;
  }
  .nav-link {
    margin-inline-end: 0;
  }
  #logo-small {
    display: in-flex;
    margin-inline-end: 20%;
  }
  .search-container {
    display: none;
  }
  .profile {
    display: none;
  }
  .sign-in-wrapper,
  .sign-in {
    display: inline-flex;
  }
}

/* Media Queries for Large Screens */
@media only screen and (min-width: 641px) {
  .nav-list {
    padding-inline-end: 0;
    padding-inline-start: 16px;
  }
  .nav-text {
    display: none;
  }
  #logo {
    display: none;
  }
  #logo-small {
    display: flex;
    margin-inline-end: 0;
  }
  #home-icon {
    display: flex;
  }
  .search-container {
    display: flex;
  }
  .hide-search-container {
    display: none;
  }
  .sign-in-wrapper {
    display: inline;
    margin-inline-end: 12px;
  }
  .sign-in {
    display: flex;
  }

  .search-icon-small {
    display: none;
  }
}

/* Media Queries for Extra Large Screens */
@media only screen and (min-width: 840px) {
  .nav-list {
    padding-inline-end: 0;
  }
  .nav-text {
    display: none;
  }
  #logo {
    display: inline-flex;
    margin-inline-end: 15px;
  }
  #logo-small {
    display: none;
  }
  .search-container {
    display: none;
  }
  .search-container {
    display: flex;
    margin-inline-start: 20%;
  }
  #home-icon {
    display: inline-flex;
  }
}

/* Media Queries for Extra Extra Large Screens */
@media only screen and (min-width: 1280px) {
  .nav-list {
    padding-inline-end: 0;
  }
  .nav-text {
    display: block;
  }
  #logo {
    display: flex;
  }
  #logo-small {
    display: none;
  }
  .search-container {
    display: flex;
  }
}
