.nav {
  backdrop-filter: blur(30px);
  background-color: #0a0b0b;
  backdrop-filter: blur(30px);
  color: #fff;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.nav > ul {
  --webkit-backdrop-filter: blur(30px);
  background-color: inherit;
  backdrop-filter: inherit;
  display: flex;
  color: #fff;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-end: 0;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

#logo > a > svg {
  width: 100%;
  height: 100%;
  margin-top: 6px;
}

#logo > a {
  text-transform: none;
  width: 140px;
  height: 80px;
}

.nav > ul > li {
  flex: 0 0 auto;
  display: inline-flex;
  border-color: #0000;
  border-radius: 300px;
  border-width: 1.6px;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
  line-height: 20px;
  padding: 10px 24px 10px 16px;
}

.nav svg {
  width: var(--nav-icon-width);
  height: var(--nav-icon-height);
}

.nav-link {
  display: flex;
  gap: 10px;
}

.nav-link:hover {
  color: var(--hover-blue);
}

.nav-text {
  padding-top: 5px;
}

/* Search container and bar */

.search-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
  flex-shrink: 1;
  cursor: default;
}

.search-form {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  justify-content: end;
  position: relative;
}

.search-bar {
  width: 256px;
  border-radius: 50px;
  margin: 17.6px 0px;
  cursor: pointer;
  height: 36px;
  border: none;
  padding: 0 60px 0 24px;
  transition: all 100ms ease-in-out;
}

.search-form:focus-within > .search-bar {
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: none;
  margin: 0;
  cursor: text;
  caret-color: var(--hover-blue);
  color: #fff;
  font-size: 14px;
  border: none;
  transition: all 100ms ease-in-out;
  display: block;
  padding-top: 0px;
  padding-inline-end: 120px;
  padding-bottom: 0px;
  padding-inline-start: 24px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
  margin-inline-end: 0;
}

/* Cancel search button */

.search-bar::-webkit-search-cancel-button {
  display: none;
}

.cancel-search {
  display: none;
}

.search-form:focus-within > .cancel-search {
  display: inline-flex;
  align-items: center;
  border-radius: 400px;
  border: 1.6px solid #0000;
  justify-content: center;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 60px;
  top: 25px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.search-form:focus-within > .cancel-search:hover {
  color: #a8edf0;
}

.search-form:focus-within > .cancel-search-disable {
  display: none;
}
input {
  overflow: visible;
}

/* PlaceHolder */
.search-form:focus-within > .search-bar::placeholder {
  font-size: 14px;
  color: #ffffffa3;
}

.search-bar::placeholder {
  font-size: 14px;
  color: #00000093;
}

/* Search Icon */

.search-icon-button {
  display: inline;
  background-color: #fff;
  border: none;
  position: absolute;
  width: 36px;
  height: 35px;
  top: 18px;
  right: 12px;
  padding-top: 5px;
  cursor: pointer;
}

.search-form:focus-within > .search-icon-button {
  background-color: #ffffff0d;
  border: 1.6px solid #0000;
  border-radius: 300px;
  cursor: pointer;
}

.search-form:focus-within > .search-icon-button:active {
  border: 3px solid #0000;
  transform: scale(0.9);
}

/* Sign in Button */
.sign-in {
  background-color: #25d1da;
  display: flex;
  border-color: #0000;
  border-radius: 300px;
  border-style: solid;
  border-width: 1.6px;
  justify-content: center;
  align-items: center;
  font-size: 13.5px;
  width: 79px;
  height: 39px;
  text-align: center;
  line-height: 20px;
  text-transform: capitalize;
  margin-right: 10px;
  cursor: pointer;
}
