.card {
  padding-top: 0.25rem; /* 4px / 16 */
  padding-bottom: 0.25rem; /* 4px / 16 */
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.card-content {
  /* display: flex; */
  /* flex-direction: column; */
  overflow: hidden;
  position: relative;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.imageWrapper img,
.rectangle-ImageWrapper img {
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease 0s;
  display: block;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.6); /* 10px / 16 and 20px / 16 */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  /* object-position: center; */
}

.rectangle-ImageWrapper img {
  border-radius: 0.25rem; /* 4px / 16 */
}

.circle {
  border-radius: 50%;
  padding-top: 100%;
}

.square {
  border-radius: 0.5rem; /* 8px / 16 */
  padding-top: 150%;
  object-fit: cover;
}

/* .imageWrapper img:hover {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  cursor: pointer;
} */

.card-content a {
  text-decoration: none;
  cursor: pointer;
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: transparent;
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.2s ease 0s;
}

.imageWrapper:hover .bg,
.bg:hover {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.bg .top-right {
  color: white;
  border: 0;
  box-shadow: none;
  display: inline-flex;
  inset-inline-start: 0;
  position: absolute;
  background-color: transparent;
  font-weight: bold;
  top: 3%;
  left: 80%; /* 15px / 16 */
}

.top-right {
  top: 3%;
  left: 80%;
}

.top-right:hover {
  color: var(--hover-blue);
  cursor: pointer;
}
.bg .center-button {
  padding: 0.875rem; /* 14px / 16 */
  position: absolute;
  padding-inline-start: 1rem; /* 16px / 16 */
  background-color: var(--light-gray-2);
  color: white;
  border: 0.125rem solid transparent; /* 2px / 16 */
  box-shadow: none;
  backdrop-filter: blur(0.625rem); /* 10px / 16 */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.bg .center-button:hover {
  background-color: var(--light-gray-1);
  transform: scale(1.2);
  transition: opacity 0.2s ease 0s;
}

.bg .right-button {
  color: white;
  border: 0;
  box-shadow: none;
  backdrop-filter: blur(0.625rem); /* 10px / 16 */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  inset-inline-end: 0;
  white-space: nowrap;
  position: absolute;
  background-color: transparent;
  font-weight: bold;
}

.right-button:hover {
  color: var(--hover-blue);
  cursor: pointer;
}

@media (pointer: fine) {
  .bg .center-button {
    font-size: 1rem; /* 16px / 16 */
    line-height: 1.25rem; /* 20px / 16 */
  }
}

.bg .right-button {
  position: absolute;
  right: 0.625rem; /* 10px / 16 */
}

.bg .right-button:hover {
  color: var(--hover-blue);
}

@media (min-width: 0) {
  .card {
    -webkit-padding-end: 1rem; /* 16px / 16 */
    padding-inline-end: 1rem; /* 16px / 16 */
    -ms-flex: 0 0 calc((100% - 1rem + 0.25rem) / 2); /* 16px / 16 and 4px / 16 */
    flex: 0 0 calc((100% - 1rem + 0.25rem) / 2); /* 16px / 16 and 4px / 16 */
    width: calc((100% - 1rem + 0.25rem) / 2); /* 16px / 16 and 4px / 16 */
    max-width: calc((100% - 1rem + 0.25rem) / 2); /* 16px / 16 and 4px / 16 */
  }

  .top-right {
    right: 75%;
  }
}

@media (min-width: 360px) {
  .card {
    -webkit-padding-end: 1rem; /* 16px / 16 */
    padding-inline-end: 1rem; /* 16px / 16 */
    -ms-flex: 0 0 calc((100% - 1rem + 0.25rem) / 2); /* 16px / 16 and 4px / 16 */
    flex: 0 0 calc((100% - 1rem + 0.25rem) / 2); /* 16px / 16 and 4px / 16 */
    width: calc((100% - 1rem + 0.25rem) / 2); /* 16px / 16 and 4px / 16 */
    max-width: calc((100% - 1rem + 0.25rem) / 2); /* 16px / 16 and 4px / 16 */
  }
}

@media (min-width: 480px) {
  .card {
    -webkit-padding-end: 1.5rem; /* 24px / 16 */
    padding-inline-end: 1.5rem; /* 24px / 16 */
    -ms-flex: 0 0 calc((100% - 1.5rem + 0.75rem) / 2); /* 24px / 16 and 12px / 16 */
    flex: 0 0 calc((100% - 1.5rem + 0.75rem) / 2); /* 24px / 16 and 12px / 16 */
    width: calc((100% - 1.5rem + 0.75rem) / 2); /* 24px / 16 and 12px / 16 */
    max-width: calc(
      (100% - 1.5rem + 0.75rem) / 2
    ); /* 24px / 16 and 12px / 16 */
  }
}

@media (min-width: 640px) {
  .card {
    -webkit-padding-end: 1.5rem; /* 24px / 16 */
    padding-inline-end: 1.5rem; /* 24px / 16 */
    -ms-flex: 0 0 calc((100% - 1.5rem + 0.75rem) / 3); /* 24px / 16 and 12px / 16 */
    flex: 0 0 calc((100% - 1.5rem + 0.75rem) / 3); /* 24px / 16 and 12px / 16 */
    width: calc((100% - 1.5rem + 0.75rem) / 3); /* 24px / 16 and 12px / 16 */
    max-width: calc(
      (100% - 1.5rem + 0.75rem) / 3
    ); /* 24px / 16 and 12px / 16 */
  }
}

@media (min-width: 840px) {
  .card {
    -webkit-padding-end: 1.5rem; /* 24px / 16 */
    padding-inline-end: 1.5rem; /* 24px / 16 */
    -ms-flex: 0 0 calc((100% - 1.5rem + 0.75rem) / 5); /* 24px / 16 and 12px / 16 */
    flex: 0 0 calc((100% - 1.5rem + 0.75rem) / 5); /* 24px / 16 and 12px / 16 */
    width: calc((100% - 1.5rem + 0.75rem) / 5); /* 24px / 16 and 12px / 16 */
    max-width: calc(
      (100% - 1.5rem + 0.75rem) / 5
    ); /* 24px / 16 and 12px / 16 */
  }

  .top-right {
    right: 75%;
  }
}

@media (min-width: 1024px) {
  .card {
    -webkit-padding-end: 1.5rem; /* 24px / 16 */
    padding-inline-end: 1.5rem; /* 24px / 16 */
    -ms-flex: 0 0 calc((100% - 1.5rem + 0.75rem) / 5); /* 24px / 16 and 12px / 16 */
    flex: 0 0 calc((100% - 1.5rem + 0.75rem) / 5); /* 24px / 16 and 12px / 16 */
    width: calc((100% - 1.5rem + 0.75rem) / 5); /* 24px / 16 and 12px / 16 */
    max-width: calc(
      (100% - 1.5rem + 0.75rem) / 5
    ); /* 24px / 16 and 12px / 16 */
  }
  .top-right {
    right: 85%;
  }
}

@media (min-width: 1280px) {
  .card {
    -webkit-padding-end: 2rem; /* 32px / 16 */
    padding-inline-end: 2rem; /* 32px / 16 */
    -ms-flex: 0 0 calc((100% - 2rem + 1.25rem) / 6); /* 32px / 16 and 20px / 16 */
    flex: 0 0 calc((100% - 2rem + 1.25rem) / 6); /* 32px / 16 and 20px / 16 */
    width: calc((100% - 2rem + 1.25rem) / 6); /* 32px / 16 and 20px / 16 */
    max-width: calc((100% - 2rem + 1.25rem) / 6); /* 32px / 16 and 20px / 16 */
  }
}

@media (min-width: 1440px) {
  .card {
    -webkit-padding-end: 2rem; /* 32px / 16 */
    padding-inline-end: 2rem; /* 32px / 16 */
    -ms-flex: 0 0 calc((100% - 2rem + 1.25rem) / 7); /* 32px / 16 and 20px / 16 */
    flex: 0 0 calc((100% - 2rem + 1.25rem) / 7); /* 32px / 16 and 20px / 16 */
    width: calc((100% - 2rem + 1.25rem) / 7); /* 32px / 16 and 20px / 16 */
    max-width: calc((100% - 2rem + 1.25rem) / 7); /* 32px / 16 and 20px / 16 */
  }
}

.tag {
  line-height: 1.625rem; /* 26px / 16 */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  contain: content;
  overflow: hidden;
  margin-top: 0.5rem; /* 8px / 16 */
  font-size: 0.9375rem; /* 15px / 16 */
}

.taglink {
  overflow: hidden;
  /* text-overflow: ellipsis; */

  white-space: break-spaces;
  padding-inline-end: 0.625rem; /* 10px / 16 */

  text-decoration: none;
  max-width: 100%;
  text-align: center;
  align-self: center;
  text-transform: capitalize;
  display: -webkit-box; /* Use a flexbox-based layout model for the container */
  -webkit-box-orient: vertical; /* Use vertical orientation */
  overflow: hidden; /* Hide any overflow text */
  -webkit-line-clamp: 4; /* Clamp the text after 4 lines */
  line-clamp: 4; /* Fallback for modern browsers */
  line-height: 1.5em; /* Adjust the line height if necessary */
  max-height: 6em;
}

.taglink:hover {
  color: var(--hover-blue);
}

.primary-tag {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  contain: content;
  overflow: hidden;
  margin-top: 0.5rem; /* 8px / 16 */
  font-size: 0.9375rem; /* 15px / 16 */
}

.primary-tag:first-child {
  line-height: 1.625rem; /* 26px / 16 */
}

.secondary-tag {
  margin-top: 0.125rem; /* 2px / 16 */
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-inline-end: 0.75rem; /* 12px / 16 */
  line-height: 1rem; /* 16px / 16 */
  font-size: 0.625rem; /* 10px / 16 */
  max-width: 100%;
  text-align: center;
  align-self: center;
}
