@media (max-width: 0) {
  .suggestions-container {
    top: 50%;
  }
}

.suggestions.wrapper {
  position: relative;
}

.suggestions-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-top: none;
  padding: 0.625rem;
  border-radius: 0 0 0.25rem 0.25rem;
  /* border: 1px solid #303030; */
  /* background-color: #121212; */
  color: #ffffff;
  font-size: 1rem;
  width: 100%;
  background-color: #202020;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
  margin: 0;
}

.suggestion-item {
  padding: 0.625rem;
  border-bottom: 0.0625rem solid #303030;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
}

.suggestions-container li {
  list-style-type: none;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background-color: #383838;
}

/* Hidden class for hiding suggestion panel */
.hidden {
  display: none;
}

.suggestion-art img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
}

.suggestion-title {
  font-size: 1rem;
  font-weight: 500;
}

.suggestion-author {
  font-size: 0.875rem;
  color: #b3b3b3;
}

.suggestion-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-history {
  display: flex;
  justify-content: space-between;
  background-color: green;
  align-items: center;
  padding: 0.625rem;
  font-style: italic;
}
